<div class="card">
  <div class="card-body">
    <form>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Sport:</label>
        <div class="col-sm-10">
          <select class="form-control" (change)="handlSportSelect($event.target.value)">
            <option [value]="sport.code" *ngFor="let sport of sports">
              {{ sport.shortName }} - {{ sport.longName }}
            </option>
          </select>
        </div>
      </div>
      <div class="form-group row mb-0">
        <label class="col-sm-2 col-form-label">Scrape Type:</label>
        <div class="col-sm-10">
          <button
            type="button"
            class="btn btn-sm mr-2"
            style="width: 120px;"
            (click)="handleTypeClick(-1)"
            [ngClass]="{
              'btn-light': selectedType != -1,
              'btn-info': selectedType == -1
            }"
          >
            All
          </button>
          <button
            type="button"
            class="btn btn-sm mr-2"
            style="width: 120px;"
            (click)="handleTypeClick(0)"
            [ngClass]="{
              'btn-light': selectedType != 0,
              'btn-info': selectedType == 0
            }"
          >
            Competition
          </button>
          <button
            type="button"
            class="btn btn-sm mr-2"
            style="width: 120px;"
            (click)="handleTypeClick(1)"
            [ngClass]="{
              'btn-light': selectedType != 1,
              'btn-info': selectedType == 1
            }"
          >
            Over / Under
          </button>
          <button
            type="button"
            style="width: 120px;"
            class="btn btn-sm"
            (click)="handleTypeClick(2)"
            [ngClass]="{
              'btn-light': selectedType != 2,
              'btn-info': selectedType == 2
            }"
          >
            Head to head
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
